# Selecting columns

# SELECTing single columns

In [ ]:
SELECT name
FROM people;

# SELECTing multiple columns

In [ ]:
#. this query selects two columns, name and birthdate, from the people table:
SELECT name, birthdate
FROM people;

#. select all columns from a table
SELECT *
FROM people;

#. If you only want to return a certain number of results, to limit the number of rows returned:
SELECT *
FROM people
LIMIT 10;

# SELECT DISTINCT

In [ ]:
#. knowing which languages are represented in the films table:
SELECT DISTINCT language
FROM films;

# Learning to COUNT

In [ ]:
#. the number of rows in the people table:
SELECT COUNT(*)
FROM people;

#. count the number of birth dates present in the people table:
SELECT COUNT(birthdate)
FROM people;

#. counts the number of distinct birth dates contained in the people table:
SELECT COUNT(DISTINCT birthdate)
FROM people;

# Filtering rows

In [ ]:
#  = equal
#.  <> not equal
#.  < less than
#   > greater than
#.  <= less than or equal to
#.  >= greater than or equal to
#. returns all films with the title 'Metropolis':
SELECT title
FROM films
WHERE title = 'Metropolis';
#########
SELECT title
FROM films
WHERE release_year > 2000;

# Simple filtering of numeric values

In [ ]:
#. Get all details for all films released in 2016.
SELECT *
FROM films
WHERE release_year = 2016

#.  Get the number of films released before 2000.
SELECT COUNT(*)
FROM films
WHERE (release_year < 2000)

#.  Get the title and release year of films released after 2000.
SELECT title, release_year
FROM films
WHERE release_year > 2000;

# Simple filtering of text

In [ ]:
#. Get all details for all French language films.
SELECT *
FROM films
WHERE language='French'

#. Get the name and birth date of the person born on November 11th, 1974
SELECT name, birthdate
FROM people
WHERE birthdate=('1974-11-11')

#.  Get the number of Hindi language films.
SELECT COUNT(*)
FROM films
WHERE language='Hindi'

#.  Get all details for all films with an R certification.
SELECT *
FROM films
WHERE certification='R'

# WHERE AND

In [ ]:
#. Get the title and release year for all Spanish language films released before 2000.
SELECT title,release_year
FROM films
WHERE language='Spanish'
AND release_year < 2000;

#.  Get all details for Spanish language films released after 2000.
SELECT *
FROM films
WHERE language='Spanish'
AND release_year > 2000;

#. Get all details for Spanish language films released after 2000, but before 2010.
SELECT *
FROM films
WHERE language='Spanish'
AND release_year > 2000 
AND release_year < 2010;

# WHERE AND OR

In [ ]:
#. Get the title and release year for films released in the 90s.
SELECT title,release_year
FROM films
WHERE release_year >= 1990 AND release_year < 2000

#. only include French or Spanish language films.
SELECT title,release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'Spanish' OR language = 'French')

#only return films that took in more than $2M gross.
SELECT title,release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'Spanish' OR language = 'French')
AND (gross > 2000000)

# BETWEEN

In [ ]:
#  Get the title and release year of all films released between 1990 and 2000
SELECT title,release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000;

#  Now, build on your previous query to select only films that have budgets over $100 million.
SELECT title,release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000

#  Now restrict the query to only return Spanish language films.
SELECT title,release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000
AND language = 'Spanish'

#. your previous query to include all Spanish language or French language films with the same criteria as before
SELECT title,release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000
AND (language = 'Spanish'OR language = 'French')